
@model List<applicantReview>

<h2 style="color:aliceblue ; margin-bottom:40px">All Applicants List</h2>




@Html.Partial("_Alerts")





<table class="table">
    <thead style="color:gold">
        <tr>
            <th>Applicant Name</th>
            <th>Branch Name</th>
            <th>Final Score</th>
            <th>Enter Grades </th>
        </tr>
    </thead>
    <tbody style="color:aliceblue">
        @foreach (var app in Model)
        {
            <tr>
                <td>@app.ApplicantName</td>
                <td>@app.branchName</td>
                <td>@app.finalscore</td>
                <td>
                    <a href="@Url.Action("Evaluate", "Evaluator",@app)"
                       class="btn btn-info btn-sm">Edit</a></td>

            </tr>
        }
    </tbody>
</table>


